<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ТМЦ</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/jsTree/themes/default/style.min.css" />
    <link rel="stylesheet" href="~/css/PagedList.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/mdb/css/mdb.css" />"
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/css/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery-ui/jquery-ui.min.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/mdb/js/mdb.js"></script>
    <script src="~/fontawesome/js/all.js"></script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color fixed-top shadow-sm scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ТМЦ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href=# id="navSources" data-toggle="dropdown">
                                Объекты учета
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navSources">
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="WealthHardwares" asp-action="Index">Оборудование</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="WealthSoftwares" asp-action="Index">Програмное обеспечение</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="RelOfficeResponsEmployees" asp-action="Index">Ответственные</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href=# id="navSources" data-toggle="dropdown" role="button">
                                Справочники
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Regions" asp-action="Index">Регионы</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Houses" asp-action="Index">Строения</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Offices" asp-action="Index">Помещения</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Departments" asp-action="Index">Подразделения</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Positions" asp-action="Index">Должности</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="Employees" asp-action="Index">Сотрудники</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="WealthCategories" asp-action="Index">Категории ТМЦ</a>
                                <a class="dropdown-item waves-effect" asp-area="" asp-controller="WealthTypes" asp-action="Index">Типы ТМЦ</a>
                            </div>
                        </li>
                        <li class="nav-item" hidden>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--<breadcrumb></breadcrumb>-->
    <main role="main">
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
            <div class="col-sm-2">
                <div class="sidebar-fixed position-fixed">
                    <div class="list-group list-group-flush">
                        <a asp-area="" asp-controller="Charts" asp-action="Index" class="list-group-item waves-effect">
                            <i class="fas fa-chart-pie mr-3"></i>Dashboard
                        </a>

                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item list-group-item-action waves-effect">
                            <i class="fas fa-user mr-3"></i>Профиль
                        </a>

                        <a href="#" class="list-group-item list-group-item-action waves-effect" hidden>
                            <i class="fas fa-table mr-3"></i>Tables
                        </a>
                        <a href="#" class="list-group-item list-group-item-action waves-effect" hidden>
                            <i class="fas fa-map mr-3"></i>Maps
                        </a>
                        <a href="#" class="list-group-item list-group-item-action waves-effect" hidden>
                            <i class="fas fa-money-bill-alt mr-3"></i>Orders
                        </a>
                    </div>
                </div>
            </div>
            }
                <div class="col-sm">
                    <div class="container-fluid">
                        <partial name="_CookieConsentPartial" />
                        @RenderBody()
                    </div>
                </div>
            </div>
    </main>




    <footer class="page-footer fixed-bottom mdb-color">
        <div class="container-fluid text-center text-md-left">
            &copy; @System.DateTime.Now.Year - <a asp-area="" asp-controller="Home" asp-action="Index">Учет ТМЦ</a>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>        
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>