@model inventory_dot_core.Models.Houses

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Houses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HousesName" class="control-label"></label>
                <input asp-for="HousesName" class="form-control" />
                <span asp-validation-for="HousesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HousesRem" class="control-label"></label>
                <input asp-for="HousesRem" class="form-control" />
                <span asp-validation-for="HousesRem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HousesRegionId" class="control-label"></label>
                <select asp-for="HousesRegionId" class ="form-control" asp-items="ViewBag.HousesRegionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
