@{
    ViewData["Title"] = "Home Page";
}

@{ var total = 7; }
@{ var myMessage = "Hello World"; }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        
        <p>The value of your account is: @total </p>
        <p>The value of myMessage is: @myMessage</p>
    </div>
