@model inventory_dot_core.Models.Departments
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = $"Редактироваие помещения {Model.DepartmentName}";
}

<h1>@Dictionary.frasesDictionary["Edit"]</h1>

<h4>Подразделения</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentId" />
            <div class="form-group">
                <label asp-for="DepartmentRegionId" class="control-label"></label>
                <select asp-for="DepartmentRegionId" class="form-control" asp-items="ViewBag.DepartmentRegionId"></select>
                <span asp-validation-for="DepartmentRegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentNotes" class="control-label"></label>
                <input asp-for="DepartmentNotes" class="form-control" />
                <span asp-validation-for="DepartmentNotes" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DepartmentParentId" class="control-label"></label>
                <select asp-for="DepartmentParentId" class="form-control" asp-items="ViewBag.DepartmentParentId"></select>
                <span asp-validation-for="DepartmentParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_SaveButton" /> | <partial name="_BackButton" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/scripts/department.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
